body{
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: larger;
  background-color: ghostwhite;
  color: black;
  width: 600px;
  padding: 20px 50px;
  margin: auto;
}
button{
  font-family: 'Merriweather', serif;
  color: white;
  background-color: yellow;
  color: black;
}
input{
  width: 60px;
  background-color: ghostwhite;
}
p {
  text-align: left;
}
h3 {
  text-align: center;
  font-size: larger;

}
button:hover {
    text-decoration: underline;
}
